.L3eUgb{
    background: var(--background) no-repeat center center fixed; 
}

.c93Gbe{
    background: var(--background) no-repeat center center fixed;
    
}

.KxwPGc{
    backdrop-filter: blur(10px);
}

#gb{
    background: var(--background) no-repeat center center fixed;
}

.gb_d .gb_Md {
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

#rso > div{
    padding: 15px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background: rgb(32,33,36);
    width: 100%;
    margin-top: 10px;
}

.UK95Uc{
    backdrop-filter: blur(10px);
    background: rgb(32,33,36);
    width: 100%;
}

.GyAeWb{
    background: var(--background) no-repeat center center fixed;
}