/*
 * © Copyright 2023 Better Websites
 * File version : 1.0.2-2
 * File author : liamgen.js
*/
  
  .bw-logo {
    max-width: 50px !important;
    vertical-align: middle !important;
    margin: 10px !important;
  }

  
  .bw-btn {
    background-color: white !important;
    padding: 1em 1.5em  !important;
    border-radius: 0.5rem !important;
    text-decoration: none !important;
    color: black  !important;
  }
  .bw-btn i {
    padding-right: 0.3em !important;
  }

  .bw-nobtn{
    background: none !important;
    color: inherit !important;
    border: none !important;
    font: inherit !important;
    cursor: pointer !important;
    outline: inherit !important;
  }

  .better-settings{
    position: fixed !important;
    width: 50px !important;
    height: 50px !important;
    background-color: white !important;
    bottom: 10px !important;
    right: 10px !important;
    border-radius: 15px !important;
    opacity: 0.6 !important;
    color: black;
  }

  .better-settings:hover{
    opacity: 0.9
  }

  .cog{
    opacity: 1 !important;
    width: 40px !important;
    height: 40px !important;
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
  }

  .better-settings-input {
    margin-top: 20px;
    border: 2px solid #007FB7;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
  }

  .better-settings-logo{
    width: 30px;
    vertical-align:middle;
    margin: 5px
  }

  .bw-copy{
    padding: 10px;
    background: #2D2D2D;
    border-radius: 10px;
    vertical-align: middle;
  }

  .better-settings-copyrights{
    text-align: center;
    background: #3D3D3D;
    color: white;
    border-radius: 10px;
    display:block;
    padding: 5px;
    font-size: 15px;
  }

  .better-settings-modal-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  #better-settings-text-color{
    width: 50%;
    height: 50px;
    appearance: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    /*position: absolute;
    left: 25%;*/
  }

  #better-settings-text-color::-webkit-color-swatch{
    border-radius: 5px
  }

  .swal2-modal{
    font-size: 20px;
  }